.MuiToolbar-regular {
  padding: 0 16px !important;
}

.MuiToolbar-regular div:first-child {
  padding-left: 0 !important;
}
.MuiCircularProgress-colorSecondary {
  color: #fff !important;
}
.SnackbarGreen div {
  background-color: #43a047 !important;
}

.SnackbarRed div {
  background-color: #ff4c55 !important;
}

.SnackbarYellow div {
  background-color: #ffa000 !important;
}

.MuiSnackbarContent-action svg {
  color: #fff !important;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.pagination {
  margin: 0 15px;
}
